<app-hero-banner></app-hero-banner>
<app-badge></app-badge>

<div class="bg-[#f9f8fc] max-w-screen-xl mx-auto px-4 py-10 grid grid-cols-1 lg:grid-cols-12 gap-10">
    <!-- Left Blog Section -->
    <div class="lg:col-span-8 space-y-10">
        <app-blog-list [filter]="'all'"></app-blog-list>
    </div>

    <!-- Right Sidebar Section -->
    <div class="lg:col-span-4 space-y-6">
        <app-blog-card [blogType]="'shivanshu-sahu'"></app-blog-card>
    </div>
</div>
<app-newsletter></app-newsletter>